{% extends "base.html" %}
{% block titulo %}Profile Page{% endblock titulo %}
{% block conteudo %}
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h2 class="card-title">Start Search</h2>
                                    <div class="login-form ">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group mt-5 col-6 offset-3">                                                
                                                {{form.as_p}}
                                            </div>
                                            <button type="submit" class="btn btn-secondary btn-flat m-b-30 m-t-30 col-2">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; SafeComp
                </div>
                
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
</div>
{% endblock conteudo %}
